###SETTING UP THE SQLite ENVIRONMENT

In [2]:
import sqlite3
import pandas as pd

# Load datasets
athletes = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-07-27/athlete_events.csv")
regions = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-07-27/noc_regions.csv")
sales = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
sales = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')


# Connect to SQLite in-memory DB
conn = sqlite3.connect(":memory:")

# Write DataFrames to SQL tables
athletes.to_sql("athletes_table", conn, index=False, if_exists="replace")
regions.to_sql("regions_table", conn, index=False, if_exists="replace")
sales.to_sql("sales_table", conn, index=False, if_exists="replace")

4622

###SECTION 1

The the top 5, total number of medals won by each country.

In [ ]:
pd.read_sql(
    """
    SELECT Team AS Country, COUNT(*) AS Total_Medals
    FROM athletes_table WHERE Medal <> "None"
    GROUP BY NOC ORDER BY Total_Medals DESC LIMIT 5;
    """, conn
)

         Country  Total_Medals
0  United States          5637
1   Soviet Union          2503
2        Germany          2165
3  Great Britain          2068
4         France          1777

The average age of athletes who won a Gold medal.

In [ ]:
pd.read_sql(
    """
    SELECT AVG(Age) FROM athletes_table WHERE Medal="Gold";
    """, conn
)

    AVG(Age)
0  25.901013

Number of distinct events in each sport.

In [ ]:
pd.read_sql(
    """
    SELECT Sport, COUNT(DISTINCT(Event)) FROM athletes_table GROUP BY Sport;
    """, conn
)

               Sport  COUNT(DISTINCT(Event))
0        Aeronautics                       1
1      Alpine Skiing                      10
2           Alpinism                       1
3            Archery                      29
4   Art Competitions                      29
..               ...                     ...
61        Tug-Of-War                       1
62        Volleyball                       2
63        Water Polo                       2
64     Weightlifting                      21
65         Wrestling                      30

[66 rows x 2 columns]

All athletes from the United States.

In [ ]:
pd.read_sql(
    """
    SELECT * FROM athletes_table WHERE NOC="USA";
    """, conn
)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,None
1,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,None
2,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,None
3,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,None
4,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18848,135458,Rami Zur,M,27.0,175.0,77.0,United States,USA,2004 Summer,2004,Summer,Athina,Canoeing,"Canoeing Men's Kayak Doubles, 500 metres",None
18849,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 500 metres",None
18850,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",None
18851,135543,"Victor Andrew ""Vic"" Zwolak",M,25.0,175.0,64.0,United States,USA,1964 Summer,1964,Summer,Tokyo,Athletics,"Athletics Men's 3,000 metres Steeplechase",None
18852,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,None

Medals awarded each year.

In [ ]:
pd.read_sql(
    """
    SELECT Year, COUNT(*) AS Medals_Awarded
    FROM athletes_table WHERE Medal <> "None"
    GROUP BY Year;
    """, conn
)

    Year  Medals_Awarded
0   1896             143
1   1900             604
2   1904             486
3   1906             458
4   1908             831
5   1912             941
6   1920            1308
7   1924             962
8   1928             823
9   1932             739
10  1936            1025
11  1948             987
12  1952            1033
13  1956            1043
14  1960            1058
15  1964            1215
16  1968            1256
17  1972            1414
18  1976            1531
19  1980            1602
20  1984            1698
21  1988            1845
22  1992            2030
23  1994             331
24  1996            1842
25  1998             440
26  2000            2004
27  2002             478
28  2004            2001
29  2006             526
30  2008            2048
31  2010             520
32  2012            1941
33  2014             597
34  2016            2023

All athlete records where height or weight is missing.

In [ ]:
pd.read_sql(
    """
    SELECT * FROM athletes_table WHERE Height IS NULL OR Weight IS NULL;
    """, conn
)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None
1,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
2,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,None
3,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,None
4,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64258,135539,Marius Edmund Zwiller,M,18.0,NaN,NaN,France,FRA,1924 Summer,1924,Summer,Paris,Swimming,Swimming Men's 200 metres Breaststroke,None
64259,135542,Werner Zwingli,M,29.0,NaN,NaN,Switzerland,SUI,1956 Winter,1956,Winter,Cortina d'Ampezzo,Cross Country Skiing,Cross Country Skiing Men's 15 kilometres,None
64260,135542,Werner Zwingli,M,29.0,NaN,NaN,Switzerland,SUI,1956 Winter,1956,Winter,Cortina d'Ampezzo,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,None
64261,135552,Jan (Johann-) Zybert (Siebert-),M,20.0,NaN,NaN,Poland,POL,1928 Summer,1928,Summer,Amsterdam,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",None
64262,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,None

Replacing the missing height with the average athlete height.

In [ ]:
pd.read_sql(
    """
    SELECT Name, 	Height, COALESCE(Height, (SELECT AVG(Height) FROM athletes_table)) AS Coalesced_Height FROM athletes_table;
    """, conn
)

                            Name  Height  Coalesced_Height
0                      A Dijiang   180.0         180.00000
1                       A Lamusi   170.0         170.00000
2            Gunnar Nielsen Aaby     NaN         175.33897
3           Edgar Lindenau Aabye     NaN         175.33897
4       Christine Jacoba Aaftink   185.0         185.00000
...                          ...     ...               ...
271111                Andrzej ya   179.0         179.00000
271112                  Piotr ya   176.0         176.00000
271113                  Piotr ya   176.0         176.00000
271114        Tomasz Ireneusz ya   185.0         185.00000
271115        Tomasz Ireneusz ya   185.0         185.00000

[271116 rows x 3 columns]

Total sales value per item.

In [ ]:
pd.read_sql(
    """
    SELECT item_name, SUM(CAST(REPLACE(item_price, '$', '') AS REAL)) AS total_sales_value
    FROM sales_table
    GROUP BY item_name;
    """, conn)

                                item_name  total_sales_value
0                       6 Pack Soft Drink             356.95
1                           Barbacoa Bowl             672.36
2                        Barbacoa Burrito             894.75
3                   Barbacoa Crispy Tacos             120.21
4                     Barbacoa Salad Bowl             106.40
5                     Barbacoa Soft Tacos             250.46
6                           Bottled Water             302.56
7                                    Bowl              29.60
8                                 Burrito              44.40
9                             Canned Soda             137.34
10                      Canned Soft Drink             438.75
11                          Carnitas Bowl             736.71
12                       Carnitas Burrito             597.83
13                  Carnitas Crispy Tacos              77.96
14                         Carnitas Salad               8.99
15                    Carnitas Salad Bowl              66.34
16                    Carnitas Soft Tacos             375.94
17                           Chicken Bowl            7342.73
18                        Chicken Burrito            5575.82
19                   Chicken Crispy Tacos             472.13
20                          Chicken Salad              81.09
21                     Chicken Salad Bowl            1228.75
22                     Chicken Soft Tacos            1108.09
23                                  Chips             494.34
24           Chips and Fresh Tomato Salsa             361.36
25                    Chips and Guacamole            2201.04
26      Chips and Mild Fresh Tomato Salsa               3.00
27     Chips and Roasted Chili Corn Salsa              67.85
28     Chips and Roasted Chili-Corn Salsa              43.02
29  Chips and Tomatillo Green Chili Salsa             132.75
30    Chips and Tomatillo Red Chili Salsa             147.50
31  Chips and Tomatillo-Green Chili Salsa              78.87
32    Chips and Tomatillo-Red Chili Salsa              59.75
33                           Crispy Tacos              14.80
34                                   Izze              67.80
35                       Nantucket Nectar              98.31
36                                  Salad              14.80
37                          Side of Chips             185.90
38                             Steak Bowl            2260.19
39                          Steak Burrito            3851.43
40                     Steak Crispy Tacos             357.34
41                            Steak Salad              35.66
42                       Steak Salad Bowl             343.59
43                       Steak Soft Tacos             536.05
44                            Veggie Bowl             867.99
45                         Veggie Burrito             934.77
46                    Veggie Crispy Tacos               8.49
47                           Veggie Salad              50.94
48                      Veggie Salad Bowl             182.50
49                      Veggie Soft Tacos              73.96

Total unique customer orders (Assume each order_id is a customer.)

In [ ]:
pd.read_sql("SELECT  COUNT(DISTINCT order_id) AS Total_Customers FROM sales_table;",conn)

   Total_Customers
0             1834

###SECTION 2

Write one query for this section.

Find countries with high-performing athletes in the Olympics. Use at least JOIN, NESTED QUERY, CASE, and optionally WITH.

For each country:
- Count the number of athletes who won at least one medal.
- Determine the average age of those medalists.
- Create a new column called performance:
  - 'High' if average age is below 25
  - 'Medium' if between 25 and 30
  - 'Low' if above 30

In [4]:
pd.read_sql(
    """
     -- Create a temporary table called Medalists that contains distinct athletes who won medals
    WITH Medalists AS (
            SELECT DISTINCT NOC, ID, Age
            FROM athletes_table
            WHERE Medal <> 'None'
        )

        SELECT
            r.region AS Country,
            COUNT(DISTINCT m.ID) AS Number_of_Medalists,
            ROUND(AVG(m.Age), 2) AS Average_Age_of_Medalists,
             -- Categorize performance based on average age of medalists
            CASE
                WHEN AVG(m.Age) < 25 THEN 'High'
                WHEN AVG(m.Age) BETWEEN 25 AND 30 THEN 'Medium'
                ELSE 'Low'
            END AS Performance
        FROM Medalists m
        -- Join with regions table to get country names from NOC codes
        JOIN regions_table r ON m.NOC = r.NOC

        -- Group results by country
        GROUP BY r.region

        -- Only include countries that have at least one medalist
        HAVING COUNT(DISTINCT m.ID) > 0

        -- Order the results by:
        ORDER BY
            -- First by performance category (High first, then Medium, then Low)
            CASE Performance
                WHEN 'High' THEN 1
                WHEN 'Medium' THEN 2
                ELSE 3
            END,
            -- Then by number of medalists in descending order (most medalists first)
            Number_of_Medalists DESC;
       """, conn)

,Country,Number_of_Medalists,Average_Age_of_Medalists,Performance
0,China,670,23.36,High
1,Japan,653,24.44,High
2,South Korea,476,23.59,High
3,Romania,414,24.78,High
4,Bulgaria,280,24.78,High
...,...,...,...,...
131,United Arab Emirates,2,34.50,Low
132,Djibouti,1,31.00,Low
133,Iraq,1,NaN,Low
134,Kuwait,1,39.00,Low
135,Nepal,1,NaN,Low